In [18]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [19]:
# Leer archivo
df = pd.read_csv('data/result.csv')
df["Zone"] = df["Zone"].fillna('')
df["Province/State"] = df["Province/State"].fillna('')

df.head()

,Unnamed: 0,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Zone
0,0,,Afghanistan,33.0000,65.0000,1/22/20,0,0,0.0,
1,1,,Albania,41.1533,20.1683,1/22/20,0,0,0.0,
2,2,,Algeria,28.0339,1.6596,1/22/20,0,0,0.0,
3,3,,Andorra,42.5063,1.5218,1/22/20,0,0,0.0,
4,4,,Angola,-11.2027,17.8739,1/22/20,0,0,0.0,

In [20]:
df['Country/Region'].value_counts()

US                342510
China               3465
Canada              1470
France              1155
United Kingdom      1155
                   ...
Burundi              105
Sri Lanka            105
India                105
Liberia              105
Gabon                105
Name: Country/Region, Length: 187, dtype: int64

In [21]:
#Transforming the string values into 0 or 1 so that we can use them in the training settings 
#We are also gonna drop the first columm because it's essentialy not needed as we can deduct it's 
#contents by observing the content of the othet ones
sex=pd.get_dummies(df['Confirmed'],drop_first=True)
city_cat=pd.get_dummies(df['Deaths'],drop_first=True)
age=pd.get_dummies(df['Recovered'],drop_first=True)
sex
city_cat
age

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,129000.0,130600.0,132700.0,135100.0,153947.0,164015.0,175382.0,180152.0,187180.0,189791.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
#we need to concatenate the values that we converted to the original table so that we can use them 
#as parte o the training model
df=pd.concat([df,sex,city_cat,age],axis=1)
#we drop the original colummns
df=df.drop(['Confirmed','Deaths','Recovered'],axis=1)
df

,Unnamed: 0,Province/State,Country/Region,Lat,Long,Date,Zone,1,2,3,...,129000.0,130600.0,132700.0,135100.0,153947.0,164015.0,175382.0,180152.0,187180.0,189791.0
0,0,,Afghanistan,33.000000,65.000000,1/22/20,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,,Albania,41.153300,20.168300,1/22/20,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,,Algeria,28.033900,1.659600,1/22/20,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,,Andorra,42.506300,1.521800,1/22/20,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,,Angola,-11.202700,17.873900,1/22/20,,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370120,342400,Utah,US,39.372319,-111.575868,5/5/20,Central Utah,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370121,342401,Utah,US,38.996171,-110.701396,5/5/20,Southeast Utah,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370122,342402,Utah,US,37.854472,-111.441876,5/5/20,Southwest Utah,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370123,342403,Utah,US,40.124915,-109.517442,5/5/20,TriCounty,0,0,0,...,0,0,0,0,0,0,0,0,0,0
370124,342404,Utah,US,41.271160,-111.914512,5/5/20,Weber-Morgan,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
#We choose the variable that we want to predict
y = df['Country/Region']
X = df.drop(columns = ['Country/Region'])

In [28]:
#here we divide the data set 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.75, random_state=1)

In [29]:
#import the Logistic regression model and apply it 
from sklearn.linear_model import LogisticRegression
logi = LogisticRegression()
#fitting the model
logi.fit(X_train,y_train)

ValueError: could not convert string to float: 'McNairy'

In [ ]:
#We can finally make the prediction
y_pred = logi.predict(X_test)

In [ ]:
X_test
cnf_matrix = confusion_matrix(y_test, y_pred)

In [ ]:
#extracting true_positives, false_positives, true_negatives, false_negatives
#tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
tn = confusion_matrix(y_test, y_pred).ravel()
fp = confusion_matrix(y_test, y_pred).ravel()
fn = confusion_matrix(y_test, y_pred).ravel()
tp = confusion_matrix(y_test, y_pred).ravel()

print("True Negatives: ",tn)
print("False Positives: ",fp)
print("False Negatives: ",fn)
print("True Positives: ",tp)

In [ ]:
#Accuracy (%) 
Accuracy = (tn+tp)/(tp+tn+fp+fn) 
#print("Accuracy {:0.2f}".format(Accuracy))
Accuracy

In [ ]:
#Precision 
Precision = tp/(tp+fp) 
#print("Precision {:0.2f}".format(Precision))
Precision

In [ ]:
#Specificity 
Specificity = tn/(tn+fp)
print("Specificity {:0.2f}".format(Specificity))

In [ ]:
#ROC (Receiver Operating Characteristic curve)
import scikitplot as skplt #to make things easy

y_pred_proba = logi.predict_proba(X_test)
skplt.metrics.plot_roc_curve(y_test, y_pred_proba)
plt.show()