In [27]:
# Importar la libreria de pandas :3
import pandas as pd

In [28]:
# Cargar el dataset que contiene la información de USA
usa_data = pd.read_csv('/Users/cbqa-0105/Documents/ISSC/Goku/BI_Final/data/usa_county_wise.csv')

In [29]:
# Eliminamos las columnas con datos inecesarios
del usa_data['UID']
del usa_data['iso2']
del usa_data['iso3']
del usa_data['code3']
del usa_data['FIPS']
del usa_data['Combined_Key']

In [30]:
# Reemplazamos los datos NaN por un espacio en blanco
usa_data["Admin2"].fillna("", inplace = True)
usa_data = usa_data.rename(columns={'Country_Region': 'Country/Region', 'Long_': 'Long', 'Admin2': 'Zone', 'Province_State': 'Province/State'})

In [31]:
# Imprimimos usa_data
usa_data

,Zone,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths
0,,American Samoa,US,-14.271000,-170.132000,1/22/20,0,0
1,,Guam,US,13.444300,144.793700,1/22/20,0,0
2,,Northern Mariana Islands,US,15.097900,145.673900,1/22/20,0,0
3,,Puerto Rico,US,18.220800,-66.590100,1/22/20,0,0
4,,Virgin Islands,US,18.335800,-64.896300,1/22/20,0,0
...,...,...,...,...,...,...,...,...
342400,Central Utah,Utah,US,39.372319,-111.575868,5/5/20,25,0
342401,Southeast Utah,Utah,US,38.996171,-110.701396,5/5/20,12,0
342402,Southwest Utah,Utah,US,37.854472,-111.441876,5/5/20,121,3
342403,TriCounty,Utah,US,40.124915,-109.517442,5/5/20,14,0
342404,Weber-Morgan,Utah,US,41.271160,-111.914512,5/5/20,173,2

In [32]:
covid_clean = pd.read_csv('/Users/cbqa-0105/Documents/ISSC/Goku/BI_Final/data/covid_19_clean_complete.csv')
covid_clean

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0,0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...
27715,NaN,Western Sahara,24.215500,-12.885800,5/5/20,6,0,5
27716,NaN,Sao Tome and Principe,0.186360,6.613081,5/5/20,174,3,4
27717,NaN,Yemen,15.552727,48.516388,5/5/20,22,4,0
27718,NaN,Comoros,-11.645500,43.333300,5/5/20,3,0,0
27719,NaN,Tajikistan,38.861034,71.276093,5/5/20,293,5,0

In [35]:
frames = [covid_clean, usa_data]

result = pd.concat(frames)

result["Province/State"].fillna("", inplace = True)
result["Recovered"].fillna(0.0, inplace = True)
result["Zone"].fillna("", inplace = True)

result

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Zone
0,,Afghanistan,33.000000,65.000000,1/22/20,0,0,0.0,
1,,Albania,41.153300,20.168300,1/22/20,0,0,0.0,
2,,Algeria,28.033900,1.659600,1/22/20,0,0,0.0,
3,,Andorra,42.506300,1.521800,1/22/20,0,0,0.0,
4,,Angola,-11.202700,17.873900,1/22/20,0,0,0.0,
...,...,...,...,...,...,...,...,...,...
342400,Utah,US,39.372319,-111.575868,5/5/20,25,0,0.0,Central Utah
342401,Utah,US,38.996171,-110.701396,5/5/20,12,0,0.0,Southeast Utah
342402,Utah,US,37.854472,-111.441876,5/5/20,121,3,0.0,Southwest Utah
342403,Utah,US,40.124915,-109.517442,5/5/20,14,0,0.0,TriCounty
342404,Utah,US,41.271160,-111.914512,5/5/20,173,2,0.0,Weber-Morgan